* {
   border: 0;
   padding: 0;
   margin: 0;

}
div {
    float: left;
    width: 100vw;
    height: 100vh;
  
    
  
    
   
   
}
div > div {
    width: 12.5%;
    height: 12.5%;
    
  
}

div > div:nth-child(-n+8):nth-child(odd) {
    
    background-color: white;
    
}

div > div:nth-child(-n+8):nth-child(even) {
    
    background-color: black;
    
}

div > div:nth-child(n+9):nth-child(odd) {
    
    background-color: black;
    
}

div > div:nth-child(n+9):nth-child(even) {
    
    background-color: white;
    
}

div > div:nth-child(n+17):nth-child(odd) {
    
    background-color: white;
    
}

div > div:nth-child(n+17):nth-child(even) {
    
    background-color: black;
    
}

div > div:nth-child(n+25):nth-child(odd) {
    
    background-color: black;
    
}

div > div:nth-child(n+25):nth-child(even) {
    
    background-color: white;
    
}

div > div:nth-child(n+33):nth-child(odd) {
    
    background-color: white;
    
}

div > div:nth-child(n+33):nth-child(even) {
    
    background-color: black;
    
}

div > div:nth-child(n+41):nth-child(odd) {
    
    background-color: black;
    
}

div > div:nth-child(n+41):nth-child(even) {
    
    background-color: white;
    
}

div > div:nth-child(n+49):nth-child(odd) {
    
    background-color: white;
    
}

div > div:nth-child(n+49):nth-child(even) {
    
    background-color: black;
    
}

div > div:nth-child(n+57):nth-child(odd) {
    
    background-color: black;
    
}

div > div:nth-child(n+57):nth-child(even) {
    
    background-color: white;
    
}


